@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&family=Roboto:wght@400;700&display=swap');


/* Colors */
:root {
    --dark-color: #3a3335;
    --light-color: #fff;
    --red-color: #ee7674;
    --bluish: #00a8e8;

    --red-hover:;
    --bluish-hover:;

}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

.wrapper {
    width: 1152px;
    margin: 0 auto;
}

/* Header - Navigtion */

.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-color);
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    padding: 2px 30px;
    padding-right: 0;

    position: fixed;
    z-index: 200;
    top: 28px;
    width: calc(1152px - 200px);
}

.desktop-nav .menu-items {
    display: flex;
    list-style: none;

}

.desktop-nav .menu-items li {
    margin: 0 20px;
}
.desktop-nav .menu-items li:nth-last-of-type(1) {
    margin-right: 0;
}

.desktop-nav .menu-items li a {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 16;
    font-weight: bold;
    position: relative;
}

.desktop-nav .menu-items li a.active::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--red-color);
    left: 0;
    bottom: -14px;
}

.desktop-nav .menu-items li a.btn {
    color: var(--light-color);
}

a.btn {
    background: var(--red-color);
    border-radius: 24px;
    padding: 13px 30px;
    text-decoration: none;
    color: var(--light-color);
    font-weight: bold;
}

a.btn.bluish {
    background: var(--bluish);
    color: var(--dark-color);
}
/* Hero Section */

.hero-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-container .left {
    flex: 1;
}

.hero-container .left p {
    font-size: 24px;
}

.hero-container .left h1 {
    font-size: 36px;
    font-family: "Montserrat Alternates", sans-serif;
    margin: 8px 0 28px 0;
}

.hero-container .left .gt {
    color: var(--red-color);
}

.hero-container .left .btn {
    margin-right: 20px;
}

.hero-container .right {
    padding-right: 30px;
}

.hero-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;

}

.hero-container .polygon1 {
    position: absolute;
    z-index: -1;
    top: 100px;
    left: 240px;
}

.hero-container .polygon2 {
    position: absolute;
    z-index: -1;
    top: 180px;
    left: 480px;
}

.hero-container .polygon3 {
    position: absolute;
    z-index: -1;
    top: 300px;
    left: 540px;
}

